* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  height: 100%;
  width: 90vw;
  margin: 50px auto;
  text-align: center;
}

.hero-section {
  position: relative;
  text-align: center;
  color: whitesmoke;
  background: black; /*fallback colour. Make sure this is just one solid colour.*/
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.hero-image {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.hero-text {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#demo {
  margin: 0;
}

.divide {
  height: 1rem;
  width: 100%;
  background: rgb(252, 69, 69);
  background: linear-gradient(
    90deg,
    rgba(252, 69, 69, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(252, 69, 69, 1) 100%
  );
}
.map {
  height: 25rem;
  width: 20rem;
}

.route-section {
  padding-bottom: 10rem;
}

.footer {
  height: 50px;
}

@media (max-width: 520px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero-text p {
    font-size: 1rem !important;
  }
  #demo {
    font-size: 0.5rem;
  }
}

@media (max-width: 360px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero-text p {
    font-size: 1rem !important;
  }
}
